@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Titling Gothic FB';
    src: url('../fonts/TitlingGothicFBExtended-Medium.eot');
    src: url('../fonts/TitlingGothicFBExtended-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TitlingGothicFBExtended-Medium.woff2') format('woff2'),
        url('../fonts/TitlingGothicFBExtended-Medium.woff') format('woff'),
        url('../fonts/TitlingGothicFBExtended-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titling Gothic FB';
    src: url('../fonts/TitlingGothicFB-Standard.eot');
    src: url('../fonts/TitlingGothicFB-Standard.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TitlingGothicFB-Standard.woff2') format('woff2'),
        url('../fonts/TitlingGothicFB-Standard.woff') format('woff'),
        url('../fonts/TitlingGothicFB-Standard.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Titling Gothic FB';
    src: url('../fonts/TitlingGothicFBExtended-Standard.eot');
    src: url('../fonts/TitlingGothicFBExtended-Standard.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TitlingGothicFBExtended-Standard.woff2') format('woff2'),
        url('../fonts/TitlingGothicFBExtended-Standard.woff') format('woff'),
        url('../fonts/TitlingGothicFBExtended-Standard.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@layer base {
    .btn-primary{
        @apply font-inter text-sm md:text-md font-semibold inline-block bg-primary-900 hover:bg-black text-center uppercase text-white py-4 sm:py-5 px-6 xl:px-10 transition-all duration-500;
    }
    .btn-secondary {
        @apply bg-white text-black hover:bg-primary-900 hover:text-white;
    }

    h1,h2,h3,h4,h5,h6 {
        @apply font-titling-gothic-fb uppercase font-medium text-white mb-5 md:mb-7
    }
    
    h1 {
        @apply text-3xl lg:text-4xl xl:text-6xl leading-3xl lg:leading-4xl xl:leading-6xl font-medium mb-3 tracking-[3px] xl:tracking-[5px]
    }
    h2 {
        @apply text-1xl sm:text-2xl md:text-3xl lg:text-4xl leading-2xl md:leading-3xl lg:leading-5xl mb-3 tracking-[2px] sm:tracking-[5px]
    }
    h3 {
        @apply text-2xl md:text-3xl leading-2xl md:leading-3xl
    }
    h4 {
        @apply text-1xl md:text-2xl leading-1xl md:leading-2xl
    }
    h5 {
        @apply text-xl md:text-1xl md:leading-1xl
    }
    h6 {
        @apply text-lg
    }
    .title {
       @apply text-2xl md:text-3xl lg:text-4xl xl:text-6xl leading-2xl md:leading-3xl lg:leading-4xl xl:leading-6xl text-white font-medium tracking-[3px] xl:tracking-[5px]
    }

    .border-color{
        @apply border-white
    }

    h2.des,
    p{
        @apply font-inter text-md md:text-lg font-normal mb-4
    }
    h2.des{
        @apply normal-case tracking-normal mb-11
    }
    section {
        @apply py-10 md:py-20
    }
    .btn-link{
        @apply uppercase font-bold underline hover:no-underline;
    }
    .menu li a{
        @apply py-3 relative block before:h-[5px] before:w-0 before:bg-white before:absolute before:bottom-0 before:left-0 before:transition-all hover:before:w-full
    }
    .menu li.menu-btn a{
        @apply font-inter text-md md:text-sm lg:text-md font-semibold max-w-fit block bg-white before:hidden uppercase text-black py-3 md:py-4 px-5 lg:px-6 xl:px-10 transition-all duration-500 hover:bg-primary-900 hover:text-white;
    }
    .hero-section.bg-overlay:before{
        opacity: 0.5;
    }
    .bg-overlay:before{
        @apply absolute bottom-0 md:bottom-auto md:top-0 left-0 w-full h-[70%] md:w-2/4 md:h-full z-1;
    }
    .bg-overlay:before{
        content: '';
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%); 
    }
    .inner-bg-overlay:before{
        @apply absolute top-0 left-0 w-full h-[70%] z-1;
    }
    .inner-bg-overlay:before{
        content: '';
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 0.66;
    }
    .logo-dark{
        @apply hidden
    }
    .main-navigation.stick .logo-light{
        @apply hidden
    }
    .main-navigation.stick .logo-dark{
        @apply block
    }
    .main-navigation.stick .menu li a{
        @apply text-black
    }
    .main-navigation.stick .menu li a::before{
        @apply bg-black
    }
    .main-navigation.stick .user-icon a{
        @apply text-black
    }
    .main-navigation.stick .menu li.menu-btn a:hover{
        @apply bg-pink-900 text-white
    }


    .header-part.header-bar.show .header-h{
        @apply h-3 md:h-9 lg:h-12
    }
    .header-part.show .header-h{
        @apply h-0
    }
    .header-part.header-bar.show.open .header-h{
        @apply h-0
    }
    .header-part.show.open .header-h{
        @apply h-3 md:h-9 lg:h-12
    }
    .header-bar .header-bar{
       @apply hidden
    }

    .hero-section .slider .sub-title {
        @apply relative top-8 transition-all duration-200 delay-700 opacity-0
    }

    .hero-section .slider h1{
        @apply relative top-10 transition-all duration-300 delay-700 opacity-0
    }
    .hero-section .slider .des{
        @apply relative top-12 transition-all duration-500 delay-700 opacity-0
    }
    .hero-section .slider .get-started{
        @apply relative top-14 transition-all duration-700 delay-700 opacity-0
    }

    .hero-section .slider.active .sub-title,
    .hero-section .slider.active h1,
    .hero-section .slider.active .des,
    .hero-section .slider.active .get-started{
        @apply top-0 opacity-100
    }


    .workout-video-section:before{
        @apply absolute bottom-0 left-0 w-full h-2/4 md:h-[350px] z-1;
    }
    .workout-video-section:before{
        content: '';
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .heading h2{
        @apply mb-6
    }
    .heading p{
        @apply text-lg md:text-xl
    }
    .footer .footer-column p{
        @apply text-md lg:text-lg leading-6
    }
    .footer-menu li a{
        @apply hover:text-primary-900;
    }
    .social-icon li a{
        @apply w-[32px] h-[32px] bg-black rounded-full flex items-center justify-center text-white hover:bg-primary-900;
    }

    .mobile-toggle a{
        @apply w-[24px] block
    }
    .mobile-toggle a span{
        @apply w-full h-[1px] block my-[5px] bg-white
    }
    .form-control{
        @apply border border-black py-3 px-4 w-full text-black text-sm focus:outline-0;
    }
    .form-control::-webkit-input-placeholder { 
      @apply text-black
    }
    .form-control::-moz-placeholder { 
      @apply text-black
    }
    .form-control:-ms-input-placeholder {
      @apply text-black
    }
    .form-control:-moz-placeholder { 
      @apply text-black
    }
    input[type=number].form-control::-webkit-inner-spin-button, 
    input[type=number].form-control::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .checkcontainer{
       @apply pl-8 relative
    }
    .checkcontainer input{
        @apply absolute opacity-0
    }
    .checkcontainer .checkmark{
        @apply absolute top-0 left-0 p-1 w-[20px] h-[20px] border border-primary-900 before:bg-primary-900
    }
    .checkcontainer .checkmark:before{
        @apply w-full h-full bg-primary-900 hidden
    }
    .checkcontainer input:checked ~ .checkmark:before{
        @apply block
    }
    .grand-opening-box:before{
        @apply hidden md:block absolute -top-40 left-0 w-[110%] h-[600px] -z-1
    }
    .grand-opening-box:before{
        content: '';
        background: linear-gradient(216.58deg, #0824F5 22.47%, rgba(236, 0, 140, 0.7) 39.69%, rgba(0, 0, 0, 0) 68.51%);
        mix-blend-mode: screen;
        opacity: 0.7;
        filter: blur(42px);
    }
    .office-locater-one-address{
        @apply text-black
    }
    .form-container form{
        @apply flex overflow-hidden
    }
    .form-container form .form-page{
        flex: 1 0 100%;
        transition: transform 0.3s;
    }
    .pagination .bar-circle{
        @apply rounded-full mx-4 w-3 h-3 relative
    }
    .pagination .bar-circle.active{
        @apply bg-black
    }
    .pagination .bar-circle:before{
        @apply w-[20px] h-[1px] bg-dark-400 absolute top-[5px] right-[17px]
    }
    .pagination .bar-circle:first-child:before{
        @apply hidden
    }
    .sign-up-form .form-control{
        @apply bg-transparent border-white text-white
    }
    .sign-up-form .form-control::-webkit-input-placeholder { 
      @apply text-white
    }
    .sign-up-form .form-control::-moz-placeholder { 
      @apply text-white
    }
    .sign-up-form .form-control:-ms-input-placeholder {
      @apply text-white
    }
    .sign-up-form .form-control:-moz-placeholder { 
      @apply text-white
    }
    .sign-up-form .checkcontainer .checkmark{
       @apply border-white
    }
   .sign-up-form .checkcontainer input:checked ~ .checkmark{
        @apply border-primary-900
    }
    .sign-up-section{
        background-position:left  bottom -160px;
    }
    .studio-amenity{
        @apply border border-white p-5 lg:p-12 flex items-center gap-5 min-h-[90px]
    }
    .studio-location {
        @apply border-b border-dark-200
    }
    .olc-location-search-input:focus{
        outline: outset 1px;
    }
    .studio-cms-section a{
        @apply text-pink-900;
    }
    .studio-cms-section a:hover{
        @apply text-white;
    }
    .studio-cms-section h2,.studio-cms-section h3,
    .studio-cms-section h4,.studio-cms-section h5,
    .studio-cms-section h6{
         @apply mt-8 mb-5
    }
    .studio-cms-section ol{
        @apply mb-5 pl-8 list-decimal
    }
    .studio-cms-section ul{
        @apply mb-5 pl-8 list-disc
    }
    .studio-cms-section h1 {
        @apply text-1xl sm:text-2xl md:text-3xl lg:text-4xl leading-2xl md:leading-3xl lg:leading-5xl mb-3 tracking-[2px] sm:tracking-[5px]
    }
    .studio-cms-section h2 {
        @apply text-1xl md:text-2xl leading-1xl md:leading-2xl
    }
    .studio-cms-section h3 {
        @apply text-1xl md:text-1xl leading-1xl md:leading-1xl
    }
    .studio-cms-section h4 {
        @apply text-lg md:text-xl md:leading-xl
    }

    .gm-style .gm-style-iw-c{border-radius:0;}.office-locater-one-title{color:#E80088;}.address-one-list p a:hover{color:#E80088;}.gm-ui-hover-effect{top: 0 !important;right: 1px !important;}.olc-google-map .gm-style,.olc-google-map .gm-style>div + div{z-index: inherit;} .olc-result-cnt{bottom: 0;left: 0;background: #222222;margin-top: 20px;font-size: 12px;padding: 5px 10px;line-height: normal;}.open-text{color:#0824F5;}.opening-text{color:#3CC13B;}.coming-text{color:#F3BB1C;} .wc-soon{display: flex;align-items: center;}.wc-soon:after{content:'•'; color:#fff; margin:0 5px; } .office-locater-one-left{height: calc(100% - 140px);}.olc-address-list::-webkit-scrollbar{width: 5px;}.olc-address-list::-webkit-scrollbar-thumb{background-color: #111111;} .olc-address-list{overflow-y: auto;} .mile-count{top:16px; right:2px;} .mile-count .fa{margin-left: 5px;font-weight: 300;font-size: 16px;vertical-align: middle;} .olc-address-list{counter-reset: list-number;border-color:#111111; } .studio-location{border-bottom: 1px solid #111;} .studio-location h6 {position: relative;padding-left: 25px;}.studio-location h6:before{display: inline-block;content: counter(list-number) ;counter-increment: list-number;width: 16px; height: 16px; position:absolute; top:1px; left:0; background:#E80088;border-radius: 100px;font-size: 10px;line-height: 9px;display: flex;align-items: center;justify-content:center; }

    .account-form .label-title{
        @apply text-sm sm:text-md tracking-wider text-dark-800 font-normal mb-2 block ml-2
    }
    .account-form .form-control{
        @apply bg-transparent border border-dark-500 py-3 md:py-4 rounded-xl text-md tracking-wider text-white font-normal mb-2 block
    }
    .account-form .form-control:hover,
    .account-form .form-control:focus{
        @apply border-primary-900
    }
    .account-form .checkcontainer .checkmark{
        @apply border-dark-500
    }
    .account-form .radio-btn{
        @apply pl-0
    }
    .account-form .checkcontainer input:checked ~ .checkmark{
        @apply border-white
    }
    .account-form .checkcontainer input:checked ~ .checkmark:before {
        @apply bg-white
    }
    .account-form .checkcontainer input[type="radio"]{
        @apply absolute opacity-0
    }
    .account-form .checkcontainer .radiobtn{
        @apply cursor-pointer hover:border-primary-900 hover:bg-primary-900
    }
    .account-form .checkcontainer input:checked ~  .radiobtn{
        @apply border-primary-900 bg-primary-900
    }
    .trial-title{
        text-shadow: 1px 0 #565656, -1px 0 #565656, 0 1px #565656, 0 -1px #565656, 1px 1px #565656, -1px -1px #565656, 1px -1px #565656, -1px 1px #565656;
    }
    html{
        scroll-behavior: smooth;
    }
    .account-form .form-control.input-error,.account-form .form-control.input-error+.checkmark {
      @apply border-[#f00]
    }
    .top-gradient-one, .top-gradient-two,.right-gradient-one,.right-gradient-two,
    .bottom-gradient-one,.bottom-gradient-two, .bottom-gradient-three, .left-gradient-one, .left-gradient-two, .left-gradient-three{
        @apply relative before:absolute
    }

    .top-gradient-one:before{
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(177.43deg, rgba(0, 0, 0, 0) -0.92%, #1F042A 50.11%, #000000 97.14%), linear-gradient(96.65deg, #0922D4 2.67%, #08189C 48.94%, #CD005C 92.23%);
    }
    .top-gradient-two:before{
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(2.04deg, #000000 1.5%, #000000 31.69%, #000000 59.28%, #030730 76.14%, rgba(0, 0, 0, 0) 95.6%), linear-gradient(91.94deg, #0E2635 0.52%, #001BE1 15.7%, #2A2CA8 54.18%, #991876 79.84%, #200704 96.72%);
    }
    .right-gradient-one:before{
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(277.75deg, rgba(0, 0, 0, 0) 4.42%, #1F042A 24.26%, #000000 95.58%), linear-gradient(223.1deg, #220E60 -12.26%, #1B116C 5.3%, #3C21FF 27.27%, #20117A 49.49%, #110F66 63.93%);
    }
    .right-gradient-two:before{
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(84.82deg, #000000 3.37%, #000000 32.47%, #000000 59.07%, #030730 75.32%, rgba(0, 0, 0, 0) 94.08%), linear-gradient(195.84deg, #102FFE 0.86%, #061BA7 12.27%, #0C127F 40.14%, #46074D 61%, #9C0E4A 79.41%);
    }
    .bottom-gradient-one:before{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.65) 61.18%, rgba(0, 0, 0, 0) 100%), linear-gradient(104.72deg, #1932F7 15.27%, #0821D5 46.64%, #810A61 100%);
    }
    .bottom-gradient-two:before{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.65) 61.18%, rgba(0, 0, 0, 0) 100%), linear-gradient(101.78deg, #040521 15.35%, #0A1885 39.84%, #0F16AE 75.72%, #B60A5A 99.28%);
    }
    .bottom-gradient-three:before{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.65) 68.1%, rgba(0, 0, 0, 0) 100%), linear-gradient(99.76deg, #040521 13.25%, #251491 31.89%, #3520F7 71.07%, #230C64 96.92%);
    }
    .left-gradient-one:before{
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(269.69deg, #000000 0.28%, rgba(0, 0, 0, 0.65) 83.18%, rgba(0, 0, 0, 0) 99.76%), linear-gradient(192.27deg, #2942FF 16.24%, #0821D5 46.63%, #490772 67.66%, #760C6B 85.79%, #B60A5A 98.31%);
    }
    .left-gradient-two:before{
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(269.69deg, #000000 0.28%, #000000 31.37%, #000000 67.19%, #25021C 84.51%, rgba(0, 0, 0, 0) 97.16%), linear-gradient(192.67deg, #130210 18.35%, #0F147C 30.21%, #1E16AB 59.18%, #140B44 88.14%, #0B092C 100%);
    }
    .left-gradient-three:before{
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(209.04deg, rgba(0, 0, 0, 0.2) 17.85%, rgba(0, 0, 0, 0.101662) 60.7%, rgba(244, 0, 103, 0.2) 88.73%), linear-gradient(270.17deg, #000000 1.48%, #000000 86.94%, rgba(44, 5, 11, 0.26) 99.85%), linear-gradient(134.42deg, #000000 0%, #001494 15.83%, #10106D 39.32%, #B60A5A 71.05%);
    }

    @media (min-width: 768px){ 
        .border-color {
            border-image: linear-gradient(#fff, #fff0) 1;
        }
        .bg-overlay:before{
        content: '';
            background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%); 
        }
    }

    @media (max-width: 767px){ 
        .bg-overlay:before{
        content: '';
            background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%); 
        }

        h5.core-recovery {
            @apply text-2xl leading-2xl
        }

        .inner-bg-overlay:after{
            @apply absolute bottom-0 left-0 w-full h-[30%] z-1;
        }
        .inner-bg-overlay:after{
            content: '';
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        }
        .workout-detail picture{
            @apply relative
        }
        .workout-detail picture:before{
            @apply absolute bottom-0 left-0 w-full h-[60%] z-1;
        }
        .workout-detail picture:before{
            content: '';
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        }
    }
    @media (max-width: 481px){ 
        .bg-overlay:before{
        content: '';
            background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%); 
        }

        h5.core-recovery {
            @apply text-1xl leading-1xl
        }
    }
    @media (max-width: 366px){ 
        h2{
           @apply text-xl leading-8 
        }
        h3{
           @apply text-lg leading-6 
        }
        h5,
        h4{
           font-size: 16px !important;
        }
    }
}
