<!DOCTYPE html>
<html lang="zxx">
<head>
 <meta charset="utf-8">
 <!-- Page title -->
 <title>basecamp-fitness</title>
 <!-- Project favicon link -->
 <link rel="icon" href="assets/images/favicon.png" type="image/gif">
 <!-- All device viewport meta -->
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <!-- Fonts style file -->
 <link rel="stylesheet" href="assets/css/all-fontawesome.min.css">

 <!-- swiper bundle min css file -->
 <link rel="stylesheet" type="text/css" href="./assets/css/swiper-bundle.min.css">
 <!-- Custom style file -->
 <link rel="stylesheet" type="text/css" href="./assets/css/main.css">


</head>
<body>
  <div class="text-md lg:text-lg leading-normal text-white font-normal font-inter antialiased bg-black pt-[88px]">

    <!-- start-header -->
    <header class="header fixed bg-black top-0 py-3 left-0 w-full z-10" x-data="{ isOpen: false, showBar : true, marginOffset : 0 }">
     <div x-ref=spacer class="absolute h-3 md:h-9 lg:h-12"></div>
     <!-- <div class="header-h h-3 md:h-9 lg:h-12" :style="marginOffset > 0 ? 'height: ' + ($refs.spacer.getBoundingClientRect().height - marginOffset >= 0 ? $refs.spacer.getBoundingClientRect().height - marginOffset : 0) + 'px' : ''"></div> -->
     <div class="header-bar absolute top-0 right-0 bottom-0 left-0 bg-black -z-30" :class="isOpen ? 'h-screen w-screen' : ''" @scroll.window="marginOffset = window.pageYOffset" x-show="isOpen || showBar" x-cloak class="m sd:hidden" x-transition:enter="transition ease-out duration-500" x-transition:enter-start=opacity-0 x-transition:enter-end=opacity-100 x-transition:leave="transition ease-in duration-500" x-transition:leave-start=opacity-100 x-transition:leave-end=opacity-0></div>
     <div class="header-bar absolute top-0 right-0 bottom-0 left-0 backdrop-blur-md -z-20 shadow-lg" :class="isOpen ? 'h-screen w-screen' : ''" x-show="isOpen || showBar" x-cloak class=md:hidden x-transition:enter="transition ease-out duration-500" x-transition:enter-start=opacity-0 x-transition:enter-end=opacity-100 x-transition:leave="transition ease-in duration-500" x-transition:leave-start=opacity-100 x-transition:leave-end=opacity-0></div>
     <!-- start header main navigation -->
     <div class=main-navigation py-7 @scroll.window="showBar = (window.pageYOffset > 20) ? true : false">
      <!-- container -->
      <div class="px-4 md:px-6">
        <!-- hade nav -->
        <nav class="flex items-center justify-between">
          <!-- Header logo -->
          <div class="shrink-0 max-w-[150px] lg:max-w-none">
              <a href="home.html">
                <img src="assets/images/logo.svg" alt="logo" class="logo-light">
                <img src="assets/images/logo-pink.svg" alt="logo" class="logo-dark">
              </a>
          </div>
        <!-- header menu right -->
        <div class="flex items-center justify-end gap-6 xl:gap-10">
          <!-- main menu -->
          <div class="main-menu hidden md:block">
            <ul class="menu md:flex items-center gap-5 xl:gap-9 text-white text-sm lg:text-md xl:text-lg font-inter font-semibold">
              <li><a href="javascript:;" class="">THE WORKOUT</a></li>
              <li><a href="javascript:;" class="">BLOG</a></li>
              <li><a href="javascript:;" class="">OUR STUDIOS</a></li>
              <li class="menu-btn"><a href="javascript:;">members book </a></li>
            </ul>
          </div>

          <!-- Start search icon -->
          <div class="user-icon hidden md:block">
            <a href="javascript:;" class="text-white hover:text-primary-900">
              <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.5 39.2705C29.9834 39.2705 38.667 30.6055 38.667 20.1035C38.667 9.62012 29.9834 0.936523 19.4814 0.936523C8.99805 0.936523 0.333008 9.62012 0.333008 20.1035C0.333008 30.6055 9.0166 39.2705 19.5 39.2705ZM19.5 26.5049C14.2119 26.5049 10.1299 28.3789 8.18164 30.5498C5.6582 27.8223 4.11816 24.1484 4.11816 20.1035C4.11816 11.5684 10.9463 4.72168 19.4814 4.72168C28.0166 4.72168 34.9004 11.5684 34.9004 20.1035C34.9004 24.1484 33.3604 27.8223 30.8184 30.5498C28.8701 28.3789 24.7881 26.5049 19.5 26.5049ZM19.5 23.4619C23.0996 23.4805 25.8828 20.4189 25.8828 16.4297C25.8828 12.6816 23.0811 9.56445 19.5 9.56445C15.9375 9.56445 13.0986 12.6816 13.1172 16.4297C13.1357 20.4189 15.9189 23.4248 19.5 23.4619Z" fill="currentColor"/>
              </svg>
            </a>
          </div>

          <div class="mobile-toggle block md:hidden">
            <button type=button @click="isOpen = !isOpen" class="inline-flex items-center justify-center rounded-md p-2 text-white hover:backdrop-blur-md hover:bg-white/30 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls=mobile-menu aria-expanded=false>
              <span class=sr-only>Open main menu</span> <!-- Icon when menu is closed --> 
              <svg class="block h-9 w-9" xmlns=http://www.w3.org/2000/svg fill=none viewBox="0 0 24 24" stroke-width=1.5 stroke=currentColor aria-hidden=true>
               <path stroke-linecap=round stroke-linejoin=round d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
             </svg>
             <!-- Icon when menu is open --> 
             <svg class="hidden h-9 w-9" xmlns=http://www.w3.org/2000/svg fill=none viewBox="0 0 24 24" stroke-width=2 stroke=currentColor aria-hidden=true>
               <path stroke-linecap=round stroke-linejoin=round d="M6 18L18 6M6 6l12 12" />
             </svg>
           </button>
         </div>

       </div>
     </nav>

     </div>

     <div x-show=isOpen x-cloak class=md:hidden x-transition:enter="transition ease-out duration-150 transform" x-transition:enter-start="opacity-0 scale-75" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-150 transform" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95 duration-50" id=mobile-menu>
      <ul class="menu text-white text-lg font-inter font-semibold p-4">
        <li><a href="javascript:;">THE WORKOUT</a></li>
        <li><a href="javascript:;">BLOG</a></li>
        <li><a href="javascript:;" class="">OUR STUDIOS</a></li>
        <li class="menu-btn"><a href="javascript:;">members book </a></li>
      </ul>
    </div>
  </div>
  <!-- end header main navigation -->
  <!-- Mobile menu -->

  <!-- End Mobile menu -->
</header>
<!-- end-header -->

<!-- start main wrapper -->
<div class="main-wrapper">


    <!-- Start office locater  -->
      <section class="p-0 office-locater-one olc-layout" data-studio-list="yes" data-json="json/location.json"  data-id="olc_488086" id="olc_488086">
        <div class="olc-container" x-data="{ tab: 'exp-sub-1' }">
          <div class="office-locater-two md:flex md:h-[calc(100vh-88px)]">
            <div class="studio-finder w-full md:max-w-[300px] lg:max-w-[400px] pt-2 px-4 md:px-6 bg-black shrink-0">
              <h1 class="text-xl lg:text-[22px] normal-case tracking-normal mb-4 md:mb-6">Find a Studio</h1>
              <form class="olc-storelocator-filter md:pb-[42px] relative" method="post">
                  <div class="olc-location-search">           
                      <div class="olc-input relative">
                        <span class="search-icon absolute top-0 left-0 w-[40px] h-full flex items-center justify-center">
                          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.66667 0C2.99266 0 0 2.99266 0 6.66667C0 10.3407 2.99266 13.3333 6.66667 13.3333C8.26434 13.3333 9.73159 12.766 10.8815 11.8242L14.862 15.8047C14.9234 15.8687 14.997 15.9198 15.0784 15.9549C15.1598 15.9901 15.2474 16.0087 15.3361 16.0096C15.4248 16.0105 15.5128 15.9937 15.5949 15.9602C15.6771 15.9267 15.7517 15.8771 15.8144 15.8144C15.8771 15.7517 15.9267 15.6771 15.9602 15.5949C15.9937 15.5128 16.0105 15.4248 16.0096 15.3361C16.0087 15.2474 15.9901 15.1598 15.9549 15.0784C15.9198 14.997 15.8687 14.9234 15.8047 14.862L11.8242 10.8815C12.766 9.73159 13.3333 8.26434 13.3333 6.66667C13.3333 2.99266 10.3407 0 6.66667 0ZM6.66667 1.33333C9.62008 1.33333 12 3.71325 12 6.66667C12 9.62008 9.62008 12 6.66667 12C3.71325 12 1.33333 9.62008 1.33333 6.66667C1.33333 3.71325 3.71325 1.33333 6.66667 1.33333Z" fill="white"/>
                          </svg>

                        </span>

                          <input class="olc-location-search-input text-white text-sm border border-white w-full pl-10 bg-transparent block py-3 px-5 rounded-0 focus:outline"  name="location_search" placeholder="Search Location" autocomplete="off" >                       
                      </div>
                  </div>
              </form>
              <ul class="flex md:hidden mt-3 md:mt-5 border-b-2 -mx-4 border-dark-200">
                <li @click="tab = 'exp-sub-1'" :class="[ tab == 'exp-sub-1' ? 'border-pink-900 text-white' : 'border-transparent text-dark-300' ]" class="px-6 -mb-[2px] py-3 block text-sm font-medium border-b-2">Map</li>
                <li @click="tab = 'exp-sub-2'" :class="[ tab == 'exp-sub-2' ? 'border-pink-900 text-white' : 'border-transparent text-dark-300' ]" class="px-6 -mb-[2px] py-3 block text-sm font-medium border-b-2">List</li>
              </ul>

              <div :class="[ tab != 'exp-sub-2' ? 'hidden md:block invisible md:visible' : '' ]" class="office-locater-one-left office-panel" id="office-panel"></div>
            </div>
            <div :class="[ tab != 'exp-sub-1' ? 'hidden md:block invisible md:visible' : '' ]" class="studio-map relative h-[500px] md:h-auto w-full">
              <div class="absolute top-6 left-1/2 bg-white shadow-gray rounded-full p-3 text-pink-900 text-[12px] z-3 -translate-x-2/4 leading-normal font-medium">Search this area</div>
              <div class="olc-google-map w-full h-full">
                
              </div>
            </div>
          </div>
            
        </div>
      </section>
    <!-- End office locater  -->


  </div>
  <!-- end main wrapper -->

  <!-- start footer -->
  <footer class="footer bg-white py-14 pb-24 md:py-24 text-black">
    <!-- container -->
    <div class="px-4 md:px-6">
      <div class="flex flex-wrap md:flex-nowrap -mx-4 gap-5 lg:gap-10">
        <!-- columns -->
        <div class="footer-column w-full md:w-1/2 px-4">
          <div class="mb-10 md:mb-16 lg:pr-12">
            <h6 class="font-inter text-md mb-4 text-black font-bold leading-[19px]">about us</h6>
            <p>SUMHIIT Fitness workouts include quick-paced, 1-minute intervals with no downtime during transitions, so you get a nonstop workout that supercharges calorie burn, with 50 minutes of cardio and strength results in just 35 minutes.</p>

            <ul class="mt-16 hidden md:flex gap-5 social-icon order-1 md:order-1">
              <li><a href="javascript:;"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="javascript:;"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="javascript:;"><i class="fa-brands fa-facebook-f"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- columns -->
        <div class="footer-column text-center md:text-left w-full md:w-1/6 px-4 order-3 md:order-2">
          <div class="mb-10 md:mb-16">
            <h6 class="font-inter text-md mb-4 text-black font-bold leading-[19px]">COMPANY</h6>

            <ul class="footer-menu">
              <li class="mb-1"><a href="javascript:;">News</a></li>
              <li class="mb-1"><a href="javascript:;">Employment</a></li>
              <li class="mb-1"><a href="javascript:;">The Workout</a></li>
              <li class="mb-1"><a href="javascript:;">Find a Studio</a></li>
              <li class="mb-1"><a href="javascript:;">Membership</a></li>
            </ul>

            <ul class="mt-16 flex md:hidden justify-center gap-5 social-icon order-1 md:order-1">
              <li><a href="javascript:;"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="javascript:;"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="javascript:;"><i class="fa-brands fa-facebook-f"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- columns -->
        <div class="footer-column w-full md:w-2/6 px-4 order-2 md:order-3">
          <div class="mb-10 md:mb-16">
            <h6 class="font-inter text-md mb-4 text-black font-bold leading-[19px]">sumhiit APP</h6>
            <p>Join a studio, earn points, and track your class count! View class schedules and book with ease. Track your progress and stay motivated to keep crushing your goals.</p>

            <div class="flex gap-4">
              <a href="javascript:;"><img src="assets/images/apple-app-store.png" alt="apple app store" width="100"></a>
              <a href="javascript:;"><img src="assets/images/google-play-store.png" alt="google app store" width="105"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="md:border-t md:border-b text-center lg:text-left lg:flex items-center justify-between border-dark-400 py-9 md:mb-12">
        <!-- footer bottom menu -->
        <ul class="md:flex items-center flex-wrap justify-center lg:justify-start gap-4 lg:gap-7 text-[12px] text-dark-500">
          <li class="mb-2 md:mb-0"><a href="javascript:;" class="underline hover:text-black hover:no-underline">Privacy Policy</a></li>
          <li class="mb-2 md:mb-0"><a href="javascript:;" class="underline hover:text-black hover:no-underline">Accessibility Statement</a></li>
          <li class="mb-2 md:mb-0"><a href="javascript:;" class="underline hover:text-black hover:no-underline">Terms of Service</a></li>
          <li class="mb-2 md:mb-0"><a href="javascript:;" class="underline hover:text-black hover:no-underline">DMCA Policy</a></li>
          <li class="mb-2 md:mb-0"><a href="javascript:;" class="underline hover:text-black hover:no-underline">Privacy Notice for California Residents</a></li>
        </ul>
        <!-- copy right text -->
        <p class="mt-20 md:mt-3 lg:m-0 text-[12px] text-dark-500">Ⓒ Basecamp Fitness 2022</p>
      </div>

      <div class="text-center flex justify-center ">
        <a href="javascript:;"><img src="assets/images/seb-logo-black.svg" alt="google app store" width="158"></a>
      </div>
    </div>
  </footer>
  <!-- end footer -->
</div>

 <!-- Custom Libraries script js start -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <!-- swiper bundle min js file -->
  <script src="./assets/js/swiper-bundle.min.js"></script>
  <!-- alpine min js file -->
  <script src="./assets/js/alpine.min.js"></script>
  <!-- map custom js file -->
  <script src="./assets/js/map-custom.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=ofcMpInitialize&key=AIzaSyDpuRwe-OrevcZjBMSCCb-eClEoi3ovMgw&libraries=places&sensor=false" ></script>
  <!-- Custom js file -->
  <script src="./assets/js/custom.js"></script>

</body>
</html>